.container-fluid{
  margin: 0;
  padding: 0;
}
.name{
  padding: 10px;
}
.img-wrapper{
  margin: 0;
  padding: 0!important;
  position: fixed!important;

}
.portfolio-img{
  height: 450px;
  width: 635px;
}
.info-wrapper {
  background-image: linear-gradient(90deg, #ffffff, #49cf3d);
  margin-bottom: 20px!important;
  padding-left: 20px;
}



.educations, .experiences, .projects {
  background-image: linear-gradient(45deg, #acabd2, #378ad300);
  padding: 16px 17px 1px;
  margin-bottom: 5px;
}
.skills {
  display: inline-block;
  margin: 5px;
  padding: 3px 20px;
  border: 1px solid #bbb;
  border-radius: 3px;
  background: #fff;
  box-shadow: 1px 1px 1px;
}
.intrests{
  display: inline-block;
  margin: 5px;
  padding: 3px 20px;
  border: 1px solid #000;
  border-radius: 3px;
  /* background: #3387d2; */
  background-image: linear-gradient(45deg, #4d87b9, #d0e056);
  box-shadow: 1px 1px 1px #000;
  color: #000;
}
.edit-btn-wrapper{
  display: flex;
  justify-content: center;
}
h4.title {
  text-align: right;
  color: rgb(38, 0, 255);
  margin-right: 50px;
  font-size: 26px;
}



.delete{
  float: right;
  cursor: pointer;
  text-align: center;
  width: 20px;
  color:white;
  background:red;
}

hr.hrclass {
  border: 1px solid rgb(146, 138, 138);
}
